<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" charset="utf-8" src="/javascripts/modernizr.min.js"></script>
  </head>
  <body>
  <header class="row">
    <div class="small-12 columns">
      <h1 class="text-center hand">{{ site.name }}</h1>
    </div>
  </header>
  <div class="row">
    <div class="small-12 columns">
      {{ content }}
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="small-12 columns">
        Copyright &copy; 2014 Jan Lindblom
      </div>
    </div>
  </footer>
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/foundation.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/app.js"></script>
</body>
</html>
